body {
  background-color: black;
  font-family:helvetica;
  background-image: url('bck.jpg');
  background-size: cover;
  background-attachment: fixed;}
h1 {
  text-align:right;
  border:4px solid white;
  color: white;}
h2 {
  color: white;}
h3 {
  color: white;}
h4 {
  color: lightgrey;}
p {
  color: lightgrey;
  font-family:baskerville;}
li {
  color: lightgrey;
  font-family:baskerville;}
address {
  color:grey}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */}
